
/***************** General ******************/
body {
    border: solid orange;
    height: 100%;
    background-color: black;
    color: white;
    margin: none;
    font-family: 'Montserrat', sans-serif;
    padding-top: 0;
  }
  
  /************** navigation ***************/
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 14px;
  }
  
  header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  
  header nav ul li {
    list-style-type: none;
  }
  
  header ul li a {
    color: white;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  /************* Primary Groups ****************/
  header {
    font-size: 18px;
    background-color: black;
    margin: 0;
    border: solid green;
  }
  
  main {
    margin: auto;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border: solid yellow;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  footer {
    position: fixed;
    background-color: black;
    bottom: 0;
    width: 100%;
    border: solid pink;
  }
  
  /****************** Typography ******************/
  h1 {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
  }
  
  h2 {
    font-size: 26px;
    color: rgb(17, 17, 17);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
    margin: 0 10px;
  }
  
  h3 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 430;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 0;
  }
  
  main a {
    font-weight: 700;
    text-decoration: none;
  }
  
  main a:visited{
    color: blue;
  }
  /* main main a:hover{color: greenyellow;} */
  /* a:active{color:  rgb(143, 156, 33);} */
  
  footer p {
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  footer h2 {
    color: black;
  }
/*   
  img.image-enhanced {
    max-width: 350px;
    border-radius: 8px;
  }
  
  .item-double {
    color: rgb(17, 17, 17);
    flex: 2;
  }
   */
  /* Desktop groups/items */
  /* @media all and (min-width: 600px){
    section {
      padding: 0%;
    }
    .group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  } */
  
  /* ***********  home ************** */
  
  .home-video {
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  
  /* ************ about *************** */
  
  .about-container {
    overflow: scroll;
    align-items: center; 
    justify-content: center;
    flex-direction: column-reverse;
    margin: auto;
    padding: 15px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .about-item {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  
  /**************** projects ****************/
  .card-container {
    max-width: 900px;
    min-width: 370px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
  }
  
  .row-one {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
  }
  
  .card p {
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .card #card1 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
  }
  
  .card #card1:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
  }
  
  .card #card2 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
  }
  
  .card #card2:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
  }
  
  .card #card3 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
  }
  
  .card #card3:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
  }
  
  .card #card4 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
  }
  
  .card #card4:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
  }
  
  .card #card5 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
  }
  
  .card #card5:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
  }
  
  .card #card6 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
  }
  
  .card #card6:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
  }
  
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .card {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border: solid;
    border-color: transparent;
    background-color: transparent;
    width: 15rem;
    height: 20rem;
    margin-bottom: 20px;
    -webkit-perspective: 1000px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    -webkit-transition: -webkit-transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
   transition-property: -webkit-transform;
   -webkit-transition-property: -webkit-transform;
   transition-duration: 1.5s;
   -webkit-transition-duration: 1.5s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  /* Position the front and back side */
  .card-one-front {
    position: absolute;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ddd;
    background-image: url(./images/WalnutVaneerChair.png);
    opacity: .8;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
  }
  
  .card-two-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./images/MarilynFramed.png);
    opacity: .8;
    background-repeat: no-repeat;
    background-color: #ddd;
    background-size:cover;
    background-position: top;
    }
  
  .card-three-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./images/FvfXn.png);
    opacity: .8;
    background-repeat: no-repeat;
    background-color: #ddd;
    background-size:cover;
    background-position: top;
  }
  
  .card-four-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./images/Oakchair_angle.png);
    opacity: .8;
    background-repeat: no-repeat;
    background-color: #ddd;
    background-size:cover;
    background-position: left;
  }
  
  .card-five-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./images/SurfboardCoffetable.png);
    opacity: .8;
    background-repeat: no-repeat;
    background-color: #ddd;
    background-size:cover;
    background-position: top;
  }
  
  .card-six-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./images/CELLO_BELYTRIAL_PUZZLEJOINTS.png);
    opacity: .8;
    background-repeat: no-repeat;
    background-color: #ddd;
    background-size:cover;
    background-position: top;
  }
  
  /* ************** Resume *************** */
  .resume-pdf {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    margin: auto;
  }
  
  .resume-container {
    max-width: 100%;
    height: 100%;
    align-items: center; 
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  /* ***************** Contact ****************** */
  .contact-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: auto;
    align-items: center;
    align-content: center;
  }
  
  .contact-form {
    display: flex;
    max-width: 50%;
    height: 100%;
    margin: auto;
    border: solid;
    border-color: transparent;
  }
  
  .contact-bar {
    width: 100%;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .contact-bar a {
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 15%;
    text-align: center;
    padding: 12px 0;
    color: black;
    transition: all 0.3s ease;
    font-size: 34px;
  }
  
  .contact-bar a:hover {
    background-color: white;
  }
  
  .location {
    width: 100%;
    margin-top: 20px;
  }
  /****** Contact Form Design ******/
  form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    margin: auto;
  }
  
  form textarea {
    height: 250px;
  }
  
  
  